.defaultBgColor{
  background-color: cyan;
}

div{

}

.red{
  background-color: red;
  height: 100%;
  width: 100%;
}

.green{
  background-color:green;
  height: 100%;
  width: 100%;
}

.blue{
  background-color:blue;
  height: 100%;
  width: 100%;
}

.orange{
  background-color:orange;
  height: 100%;
  width: 100%;
}

.bodyColor{
  display: grid;
}
