<table class="tableau">
  <tr>
    <td class="square">
      <button class="square" [ngClass]=redButton (click)="changeBgColor(redButton)"></button>
    </td>
    <td class="square">
      <button class="square" [ngClass]=greenButton (click)="changeBgColor(greenButton)"></button>
    </td>
  </tr>
  <tr>
    <td class="square">
      <button class="square" [ngClass]=blueButton (click)="changeBgColor(blueButton)"></button>
    </td>
    <td class="square">
      <button class="square" [ngClass]=orangeButton (click)="changeBgColor(orangeButton)"></button>
    </td>
  </tr>
</table>
