.red{
  background-color:red;
}

.green{
  background-color:green;
}

.blue{
  background-color:blue;
}

.orange{
  background-color:orange;
}

.tableau{
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width:400px;
}

.square{
  width: 200px;
  height: 200px;
}
